@import '~src/styles/variables';

header {
  text-align: center;
  background: $header-bg-color;

  .container {
    padding: 20px;
  }

  .fas {
    color: $icon-color;
    transition: color 0.3s;

    &:hover {
      color: rgba(188, 202, 214, 0.714);
    }
  }

  h1 {
    font-weight: $font-weight-base;
  }
}
