@import '~src/styles/variables';

header {
  text-align: center;
  background: rgba(0,0,0,0.02);

  .container {
    padding: 20px;
  }

  .fas {
    color: #1e90ff;
  }

  h1 {
    font-weight: $font-weight-base;
  }
}
