$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$font-weight-base: 300;
$text-muted: #ffffff;
$body-color: #1b3647;
$body-bg-overlay: linear-gradient(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6));
$body-bg-image: url("/assets/background.jpg");
$header-bg-color: rgba(216, 216, 216, 0.341);
$icon-color: #ffffff;
$icon-bg-color: rgba(255,255,255,0.1);
$icon-color-hover: #e9e9e9;
$btn-colors: #bccad6 #87bdd8 #1691be #166ba2 #1b3647 #152836;
