$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$font-weight-base: 300;
$text-muted: #ffffff;
$body-color: #1b3647;
$body-bg-overlay: linear-gradient(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6));
$body-bg-image: url("/assets/kali.png");
$header-bg-color: rgba(216, 216, 216, 0.341);
$icon-color: #ffffff;
$icon-bg-color: rgba(255,255,255,0.1);
$icon-color-hover: #e9e9e9;
$btn-colors:#B9DEEB #A1D3E5 #8AC8DE #73BDD8 #5BB2D1 #44A7CB #2D9CC4 #1691BE #1382AB #117498 #0F6585 #0D5772 #0B485F #083A4C #062B39;
/* https://www.tutorialrepublic.com/html-reference/html-color-picker.php */
