@import '~bootstrap/scss/bootstrap-grid';

header {
  text-align: center;
  background: rgba(0,0,0,0.02);

  .container {
    padding: 20px;
  }

  .fas {
    color: #1e90ff;
  }
}

.footer {
  background-color: rgba(0,0,0,0.02);
}
