@import '~src/styles/variables';

:host {

  min-width: 10em;
  height: 10em;
  transition: height .3s, background-color .3s;

  &:not(.disabled):hover {
    height: 11em;
  }
}

a {
  border: none;
  color: $icon-color;
  border-radius: 0;
  padding: 0.75em;
  width: 100%;
  height: 100%;
  font-weight: $font-weight-base;

  &:not(.disabled):hover {
    color: #e9e9e9;
    .icon + span {
      margin-top: 3.1em;
      transition: margin 0.3s;
    }
  }

  &.disabled {
    opacity: 0.2;
  }

  span {
    display: block;
  }

  .icon {
    display: block;
    padding: 1.4em 0;
    background: rgba(255,255,255,0.1);
  }

  .icon + span {
    margin-top: 2.1em;
    transition: margin 0.3s;
  }

  .icon-disabled {
    position: absolute;
    right: 0;
    left: 0;
    top: 1em;
  }

}
