@import '~src/styles/variables';
@import '~bootstrap/scss/bootstrap-grid';

:host {
  flex: 1 0 calc(25% - 10px);
  max-width: calc(25% - 10px);
  margin: 5px;
  min-width: 10em;
  height: 10em;
  transition: height .3s, background-color .3s, opacity .3s;

  @include media-breakpoint-up(lg) {

    &:hover {
      height: 11em;
    }
  }
}

a {
  border: none;
  color: $icon-color;
  border-radius: 0;
  padding: 0.75em;
  width: 100%;
  height: 100%;
  font-weight: $font-weight-base;

  &:not(.disabled):hover {
    color: $icon-color-hover;

    @include media-breakpoint-up(lg) {
      .icon + span {
        margin-top: 3.1em;
        transition: margin 0.3s;
      }
    }
  }

  &.disabled {
    opacity: 1;
  }

  span {
    display: block;
  }

  .icon {
    display: block;
    padding: 1.4em 0;
    background: $icon-bg-color;
  }

  .icon + span {
    margin-top: 2.1em;
    transition: margin 0.3s;
  }
}

@media (max-width: 576px) {
  :host {
    min-width: 6em;
    height: 8em;
  }

  .icon + span {
    margin-top: 0 !important;
  }
}
