@import '~src/styles/variables';
@import '~bootstrap/scss/bootstrap-grid';

:host {

  min-width: 10em;
  height: 10em;
  transition: height .3s, background-color .3s, opacity .3s;

  @include media-breakpoint-up(lg) {

    &:not(.disabled):hover {
      height: 11em;
    }

  }

  &.disabled {
    opacity: 0.7;
  }

}

a {
  border: none;
  color: $icon-color;
  border-radius: 0;
  padding: 0.75em;
  width: 100%;
  height: 100%;
  font-weight: $font-weight-base;

  &:not(.disabled):hover {
    color: $icon-color-hover;

    @include media-breakpoint-up(lg) {
      .icon + span {
        margin-top: 3.1em;
        transition: margin 0.3s;
      }
    }
  }

  &.disabled {
    opacity: 1;
  }

  span {
    display: block;
  }

  .icon {
    display: block;
    padding: 1.4em 0;
    background: $icon-bg-color;
  }

  .icon + span {
    margin-top: 2.1em;
    transition: margin 0.3s;
  }

  .icon-disabled {
    position: absolute;
    right: 0;
    left: 0;
    top: 1em;
  }

  .icon-redirect {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
  }

}
